html {
  font-family: "Strait", sans-serif;
}

body {
  background: rgb(48, 2, 43);
  background: linear-gradient(
    0deg,
    rgba(48, 2, 43, 0.9612219887955182) 56%,
    rgba(85, 89, 89, 0.9836309523809523) 95%
  );
}
